*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
body {
    background-color: #014238;
}
.container {
    width: auto;
    background: white;
    min-height: 100vh;
    margin-left: 75px;
    box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.397);
    display: flex;
}
.fieldset {
    width: max-content;
    height: 969px;
    border: 32px solid #2B8C7E;
}
form{
    padding: 50px;
    padding-top: 0px;
    width:400px;
}
.logopic {
    width: auto;
    height: 150px;
    border: 5px solid #02C2A5;  
    background-color: #02C2A5;
    border-radius: 200px;
}
.logo {
    padding: 15px;
    display: flex;
    justify-content: center; 
}
input {
    height: 30px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #52517b;    
    font-size: 18px;
}
input:focus {
    outline: none;
}
.fields{
    width: 150px;
    padding-left: 10px;
    background-color: #ffffff3f;
}
p {
    width: 300px;
    display: flex;
    margin-top: 15px;
    color: #014238;
}
/* кнопки */
.buttons {
    display: flex;
    width: 300px;
    height: 70px;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #52517b;
    border-radius: 10px;    
    font-size: 18px;
    color: rgb(70, 69, 109);
    background-color: white;
    align-items: center;
    justify-content: center;
}
.buttons:focus {
    outline: none;
}
.buttons:active {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.397);
}
.triangle-right {
	width: 0;
    height: 0;
    margin-right: 10px;
	border-top: 15px solid transparent;
	border-left: 26px solid #03F4D1;
    border-bottom: 15px solid transparent;
    border-radius: 5px;
}
#pause {
    width:150px;
}
.pause {
    width: 8px;
    height: 26px;
    background-color: #FFDC78;
    margin-right: 8px;
    border: 1px solid rgba(241, 240, 240, 0);
    border-radius: 5px;
}
.pause-icon  {
    display: flex;
}
#stop {
    width:150px;
    background-color: #F65B40;
    color: rgb(255, 255, 255);
}
.stop-icon {
    height: 26px;
    width: 26px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 240, 240);
    border-radius: 5px;
}
.breakpoints {
    display: flex;
    width: 320px;
    height: 70px;
}
/* игровое поле */

.pgField {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.message {
    display: flex;
    align-items: center;
    width: 700px;
    opacity: 0.4;
}
.message img {
    width: 75px;
    height: auto;
}
.message p {
    color: black;
    margin-top: 0px;
    width: inherit;
}
.square {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
}
.prey {
    background-color: #289948;
}
.predator {
    background-color: #BF2828;
}
.playground {
    display: flex;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.397);
}
.hidden {
    display: none;
}